spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://www.jianhui03.cn:3306/harbor?useSSL=false&useUnicode=true&characterEncoding=utf-8&allowPublicKeyRetrieval=true
    username: root
    password: Wjh_ns4jzw
  data:
    redis:
      host: common-redis-dev.magestack.cn
      port: 19389
      password: Sm9sVXBOYJjI030b5tz0trjpzvZzRhtZmEbv0uOImcD1wEDOPfeaqNU4PxHob/Wp

minio:
  endpoint: http://www.jianhui03.cn:9002 #内网地址
  domain: http://www.jianhui03.cn:9002 #外网访问地址
  accessKey: minioadmin
  secretKey: minioadmin
  bucketName: harbor-im
  imagePath: image
  filePath: file
  videoPath: video

webrtc:
  max-channel: 9 # 多人通话最大通道数量，最大不能超过16
  ice-servers:
    - urls: stun:stun.l.google.com:19302

rocketmq:
  name-server: common-rocketmq-dev.magestack.cn:9876
  producer:
    group: im_platform
