<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianhui.project.harbor.platform.mapper.RequestFriendMapper">

    <resultMap id="BaseResultMap" type="com.jianhui.project.harbor.platform.entity.RequestFriend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="requestUserId" column="request_user_id" jdbcType="BIGINT"/>
            <result property="receiveUserId" column="receive_user_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="requestNote" column="request_note" jdbcType="VARCHAR"/>
            <result property="dealTime" column="deal_time" jdbcType="TIMESTAMP"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,request_user_id,receive_user_id,
        status,request_note,deal_time,
        comment,created_time,update_time
    </sql>
</mapper>
