/**
自定义默认样式
 */

/*滚动条*/
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: hsla(0, 0%, 73%, 0.5);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}
