/**
自定义主题颜色
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

:root {
  --theme-dark: #31333b;
  --theme-black: #4d515e;
  --theme-blue: #94c2ed;
  --theme-orange: #e38968;
  --theme-gray: #92959e;
  --theme-light-gray: #f2f5f8;
  --theme-white: #ffffff;
  --theme-font-family: "Lato", sans-serif;
  --bubble-green: #86bb71;
  --light-white: #f5f5f5;
  --tip: gray;
}
